
.root {
    -fx-background-image: url("../assets/bg1.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.logout-button {
    -fx-background-color:
            #FD9246,
            #FEDE84,
            linear-gradient(to bottom, #fb585b, #fa4347);
    -fx-background-insets: 0, 3, 6;
    -fx-background-radius: 40, 37, 34;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 25 10 25;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-graphic-text-gap: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 2, 2);
}

.logout-button:hover {
    -fx-background-color:
            #FEA15E,
            #FFE69A,
            linear-gradient(to bottom, #fc6c6e, #fb4f53);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.logout-button:pressed {
    -fx-background-color:
            #FB7A2D,
            #FED86C,
            linear-gradient(to bottom, #fa4347, #e63032);
    -fx-translate-y: 1;
}

.history-button {
    -fx-background-color:
            #b7f57d,
            #d2ffb0,
            linear-gradient(to bottom, #ffa94d, #ff922b);
    -fx-background-insets: 0, 3, 6;
    -fx-background-radius: 60, 56, 68;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 20 50 20 50;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-graphic-text-gap: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 12, 0, 3, 3);
}

.elo-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.match-table {
    -fx-background-color:
            linear-gradient(to right, #ff6ec4, #7873f5, #4facfe, #00f2fe, #43e97b, #ffd700, #ff6ec4);

    -fx-background-insets: 0;
    -fx-background-radius: 25;

    -fx-padding: 10px;

    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0, 0, 5);
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 182, 193, 0.6), rgba(255, 218, 185, 0.6));
    -fx-background-radius: 14 14 0 0;
}

.table-view .column-header {
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: #F0F8FF; /* AliceBlue */
}

.table-view .table-cell {
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-border-width: 0;
}

.table-row-cell:filled {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.9));
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.table-row-cell:empty {
    -fx-background-color: #F0F8FF; /* AliceBlue */
    -fx-border-color: transparent transparent #DCDCDC transparent; /* Gainsboro */
    -fx-border-width: 1px;
}

.table-row-cell:filled:hover {
    -fx-background-color: rgba(173, 216, 230, 0.5);
}

.table-view {
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}

.table-view .table-row-cell {
    -fx-border-width: 0;
}

.table-view .placeholder {
    -fx-background-color: transparent;
}
.table-view .placeholder .label {
    -fx-text-fill: transparent;
}

.table-view .virtual-flow .clipped-container .sheet .table-row-cell:empty {
    -fx-background-color: #F0F8FF; /* AliceBlue */
    -fx-border-color: transparent transparent #DCDCDC transparent; /* Gainsboro */
    -fx-border-width: 1px;
}
